<div id="contact-form">
  <h1 class="title">Contacter Cane Corso Records</h1>
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, label: "Nom et prénom", placeholder: "David Ghetto" %>
    <%= f.input :email, label: "Votre email pour le suivi", placeholder: "david.ghetto@mail.com" %>
    <%= f.input :category, label: "Le motif de votre message", collection: ['Label', 'Booking', 'Autre'] %>
    <%= f.input :message, label: "Votre message", placeholder: "Bonjour, ...", as: :text %>
    <%= f.submit "Envoyer", class: "cta-send" %>
  <% end %>
</div>
