<div id="main-releases">
  <div>
    <h1>Nos releases</h1>
  </div>
  <div>
    <% @releases.each do |release| %>
      <div class="releases">
        <div class="releases-block">
          <%= link_to release_path(release.id) do %>
            <div class="releases-card" style="background-image: url(<%= cl_image_path(release.photo.key) %>)">
            </div>
            <div class="releases-infos">
              <%=release.name%><br>
              <%=release.artist.name%>
            </div>
          <% end %>
        </div>
        <div class="releases-players">
          <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%= release.soundcloud_link %>&color=%23cd16eb&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>
      </div>
    <% end %>
  </div>
</div>
